<div style='height:800px; background-image: url("assets/img/parque1.jpg");'>
    <div class="btn-group" style="width: 50%; margin-left:50%">
      <button class="btn btn-warning" style="width: 25%;" (click)="RedirectTo('VPN')">
          Informacion
      </button>
      <button class="btn btn-warning" style="width: 25%;" (click)="RedirectTo('TIR')">
          Realizar Consulta
      </button>
      <button class="btn btn-warning" style="width: 25%;" (click)="RedirectTo('register')">
          Crear Cuenta
      </button>
      <button class="btn btn-warning" style="width: 25%;" (click)="RedirectTo('login')">
          Entrar
      </button>
    </div>
    <br>
    <br/>
    <!---->
    <div class="col-md-12" style="margin-bottom:50px">
      <div class="row">
          <div class="col-sm-6 col-md-offset-3" style="color:white; margin-left:50%">
            <h2>ForestoBolivia
            </h2>
          </div>
        </div>
    </div>
    <div class="row">
       <div class="col-sm-5 col-md-offset-3">
            <div>
                <h2 style="color:white; margin-left:50%"> Vision
                </h2>
                <label style="color:white; margin-left:50%" > ESTA ES MI VISION </label>
            </div>
        </div>
        <div class="col-sm-6 col-md-offset-3">
            <div>
                <h2 style="color:white; margin-left:50%"> Mision
                </h2>
                <label style="color:white; margin-left:50%"> ESTA ES MI MISION </label>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue" style="background-color: rgb(202, 202, 20); height: 60px; position: absolute; bottom: 0; width: 100%;">
        <div class="footer-copyright text-center py-3" style="color: blue;">© 2019:
            <a style="color: blue; text-align: center;"> Sistema De Gestion Meidco</a>
        </div>   
    </footer>

</div>    
